.coverage
.deps
.noseids
boot/app/
cover/
*.log
*.pyc
nbproject/private/private.xml
*.suo
bin/
obj/
*.user
docs/*.html
resources_rc.py

# This is the plugin build folder. We don't ever need to version this.
QMap/

