*.pyc
nbproject/private/private.xml
/*.suo
bin/
obj/
/*.user
docs/*.html
resources_rc.py
syncing/SqlSyncProvisioner/_ReSharper.SqlSyncProvisioner/*
syncing/SqlSyncProvisioner/*.user
syncing/SqlSyncProvisioner/SqlSyncProvisioner/bin/*
syncing/SqlSyncProvisioner/SqlSyncProvisioner/obj/*
syncing/SqlSyncProvisioner/*.suo

