.coverage
.deps
.noseids
cover/
*.log
*.pyc
nbproject/private/private.xml
*.suo
bin/
obj/
*.user
docs/*.html
resources_rc.py
libsyncing.dll
provisioner.exe

# This is the plugin build folder. We don't ever need to version this.
build/

*.py[co]

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox

#Translations
*.mo

#Mr Developer
.mr.developer.cfg
