{
	"fullscreen" : true,
	"gpsport" : "\\\\.\\COM8",
	"syncing" : {
		"server_image_location" : "\\\\SD0302\\C$\\synctest\\",
		"server" : "Data Source=SD0302;Initial Catalog=SpatialData;Integrated Security=SSPI;",
		"client" : "Data Source=localhost;Initial Catalog=FieldData;Integrated Security=SSPI;"
	},
	
	"projects" : {
		"Trees (Sample)" : {
			"layers" : {
					"trees" : { 
						"text" : "tree"
						}
				}
		}
	}
}

