# Config file listing each client how what and where QMap will be installed

clients:
    Melton Install:
        path : ..\export\Melton Install
        projects:
            - melton_firebreak
    Dave Demo:
        path : ..\export\Dave Demo\
        projects:
            - pool_sample
            - foothpath_inspection
    Everything:
        path : ..\export\Everything\
        projects:
            - pool_sample
            - foothpath_inspection
            - melton_firebreak
