# Config file listing each client how what and where QMap will be installed

clients:
    Device 1 Network Share Install:
        # The install path
        path : \\devicename\share

        # List of project that will be installed
        projects: 
            - melton_firebreak

    Local Install:
        path : C:\
        projects:
            - melton_firebreak
