# Config file listing each client how what and where QMap will be installed

clients:
    Melton Install:
        path : ..\export\
        projects:
            - melton_firebreak
    Dave Demo:
        path : ..\export_dave\
        projects:
            - pool_sample
            - footpath_inspection
            - melton_firebreak
