# Config file listing each client how what and where QMap will be installed

clients:
    Melton Install:
        path : ..\export\Melton Install
        projects:
            - melton_firebreak
    Busselton Install:
        path : ..\export\Busselton Install
        projects:
            - busselton_firebreak
    Dave Demo:
        path : ..\export\Dave Demo\
        projects:
            - pool_sample
            - foothpath_inspection
            - septic_tank_audit
    Everything:
        path : ..\export\Everything\
        projects:
            - pool_sample
            - foothpath_inspection
            - melton_firebreak
            - septic_tank_audit
    Latrobe Firebreak:
        path : ..\export\Latrobe Firebreak
        projects:
            - latrobe_firebreak
