<!DOCTYPE html>
<html>
  <head>
    <title>Info</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bootstrap/bootstrap.css" rel="stylesheet">
    <script src="bootstrap/jquery-1.9.1.js"></script>
    <script src="bootstrap/bootstrap.min.js"></script>
  </head>
  <body>
      <style>
          .header {
              color: red;
          }
      </style>
    <div class="container-fluid">
      <div class="text-center">
           <b class="header">{{ title }}</b>
      </div>
            Error: <b>{{ error }}</b>
            <div class="text-left">
                <pre>{{ stack }}</pre>
            </div>
        </div>
    </div>
  </body>
</html>
