camera: 0
configmanager:
  qgislocation: !!python/unicode 'C:/OSGeo4W/bin/qgis.bat'
fullscreen: false
gps:
  tracking:
    time: 1
gpscenter: true
gpslogging: true
gpsport: !!python/unicode 'scan'
iconswithtext: true
keyboard: true
projectpaths: []
updateserver: !!python/unicode 'http://www.mapimage.net/RoamProjects/bb800a14-d9ed-4a12-bc74-bf668f78e7ed/'
