fullscreen: false
gps:
  tracking:
    time: 1
gps_auto_vertex: false
gps_averaging: false
gps_averaging_measurements: 0
gps_averaging_in_action: false
gps_averaging_start_time: '0:00:00'
gps_min_measurements: 30
gps_vertex_or_point: ''
gpscenter: true
gpslogging: false
gpsport: scan
iconswithtext: true
keyboard: false
online_error_reporting: true
projectpaths: []
smallmode: false
updateserver: ''
